<html lang="en" ng-app="myApp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>

<body ng-controller="mainController" ng-cloak>

    <div layout="row">
        <div flex>
            <md-input-container>
                <label>title</label>
                <input type="text" ng-model="todo.title">
            </md-input-container>
            <md-input-container>
                <label>description</label>
                <input type="text" ng-model="todo.description">
            </md-input-container>
            <md-button class="md-accent md-raised" ng-click="sendForm($event)">New Entry</md-button>

            <md-list>
                <md-list-item class="md-2-line" ng-repeat="item in todos track by $index">
                    <md-checkbox ng-model="item.done"></md-checkbox>
                    <div class="md-list-item-text">
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                    </div>
                    <md-button class="md-accent md-raised md-primary" ng-click="deleteItem($index)">delete</md-button>
                </md-list-item>
            </md-list>
        </div>
    </div>



</body>

<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<!-- Your application bootstrap  -->
<script type="text/javascript" src="app.js"></script>



</html>